<div class="row">
  <div class="col-md-8 offset-md-1">
    <hr class="dotted">
    <h2>
      Employees
      
    </h2>
    <hr class="dotted">
    <table class="table table-responsive table-hover">
      <thead class="table-info">
        <tr>
          <th>Name</th>
          <th>No of Challeneges Attempted</th>
          <th>No of Challeneges Completed</th>
          
        </tr>
      </thead>

      <tbody>
        <% @user.each do |user| %>
          <tr>
            <td><strong><%= user.name %></strong></td>
            <td><strong><%= user.Challeneges %></strong></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
