<%= link_to '', company_departments_path(@department.company_id), class: 'fa fa-lg fa-arrow-left btn' %>
<div>
  <h1 class="model-header">Editing Department</h1><br>
  <%= render 'form', department: @department %>
</div>
