<%= link_to '', company_departments_path(@department.company_id), class: 'fa fa-lg fa-arrow-left btn' %>
<div class="offset-md-4">
  <h1>Editing Department</h1><br>
  <%= render 'form', department: @department %>
</div>
