<%= link_to '', department_projects_path(@project.department_id), class: 'fa fa-lg fa-arrow-left btn' %>
<div>
  <h1 class="model-header">Editing project</h1>
  <%= render 'form', project: @project %>
</div>
