<%= link_to '', department_projects_path(@project.department_id), class: 'fa fa-lg fa-arrow-left btn' %>
<div class="offset-md-4">
  <h1>Editing project</h1>
  <%= render 'form', project: @project %>
</div>
