
<hr>
<h1>Resources</h1>
<div class= "container">

<%= image_tag("resource.png", class: " img-thumbnail img-fluid resource_share") %>
</div>

<br>

<%= link_to 'Add Resources', new_resource_path , class: "fa fa-plus-circle btn btn-outline-primary my-2 my-sm-0 btn-lg btn btn-info link_button" %>
