/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require font-awesome
 */
@import "bootswatch/_variables";
@import "bootswatch/_bootswatch";
@import 'home';
@import 'footer';
@import 'resource';
@import 'SignUpForm';
@import "bootstrap";

.home_page {
  background: linear-gradient(rgba(20,20,20, 0.7),rgba(20,20,20, 0)), image-url("home.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  height: 600px;
  border-radius: 20px;
}


.home_brain {
  width: 330px;
  height: 250px;
  border-radius: 100px;
}

.jumbo-image {
  color: white;
  padding-top: 10px;
}

main {
  margin-top: 0px !important;
}
.main-heading {
  font-family: cursive;
  color: white;
}

.sign-in-up-button {
  border-radius: 8px !important;
  margin-right: 5px;
}

.lead {
  font-size: 20px;
  padding: 5px 5px 5px 5px;
  margin-left: 195px;
  margin-right: 210px;
  color: white;
  border:1px solid #f8b28e;
  border-radius: 10px;
}

.three-steps {
  font-family: monospace;
}
.quiz-image {
  border-radius: 50px;
  height: 250px;
}

.navbar {
  background-color: #33383c;
  border-radius: 7px;
  .sign-in-up-button {
    color: white !important;
  }
  a {
    color: #c6c9ce;
  }
}

.footer {
  position: inherit;
  bottom: 0;
  width: 100%;
  /* Set the minimum height of the footer here */
}

body{
  font-family: 'Metrophobic', sans-serif;
  margin-top: 0px;
}
