.resource_share{
	width: 1000px;
   height: 700px;
   margin-left: 60px;
}

.link_button{
	margin-left: 440px;
}

.resource_img{
	width: 300px;
   height: 300px;
   display: inline-block;
}

.resource_links{
  margin-left: 5px;
}

.msg{
   margin-top: 15px;
}

